__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.env
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
override.tf
override.tf.json

# IDE
.vscode/
.idea/
.DS_Store
